## Settings file was created by plugin Passive Powers v1.1.8
## Plugin GUID: org.bepinex.plugins.passivepowers

[1 - General]

## If on, the configuration is locked and can be changed by server admins only.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

## Sets the maximum number of boss powers that can be active at the same time.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 7
Maximum boss powers = 3

[2 - Active Powers]

## Cooldown after activating one of the boss powers. Cooldown is shared between all boss powers.
# Setting type: Int32
# Default value: 600
Cooldown for boss powers (seconds) = 300

## Duration of the buff from activating boss powers.
# Setting type: Int32
# Default value: 30
Duration for active boss powers (seconds) = 60

## Disables the passive effect of the boss power for the specified duration after the active effect ends.
# Setting type: Int32
# Default value: 180
Power loss duration after boss power activation (seconds) = 0

## Keyboard shortcut to activate the 1. boss power.
# Setting type: KeyboardShortcut
# Default value: Alpha1 + LeftAlt
Shortcut for boss power 1 = Alpha1 + LeftAlt

## Keyboard shortcut to activate the 2. boss power.
# Setting type: KeyboardShortcut
# Default value: Alpha2 + LeftAlt
Shortcut for boss power 2 = Alpha2 + LeftAlt

## Keyboard shortcut to activate the 3. boss power.
# Setting type: KeyboardShortcut
# Default value: Alpha3 + LeftAlt
Shortcut for boss power 3 = Alpha3 + LeftAlt

## Keyboard shortcut to activate the 4. boss power.
# Setting type: KeyboardShortcut
# Default value: Alpha4 + LeftAlt
Shortcut for boss power 4 = Alpha4 + LeftAlt

## Keyboard shortcut to activate the 5. boss power.
# Setting type: KeyboardShortcut
# Default value: Alpha5 + LeftAlt
Shortcut for boss power 5 = Alpha5 + LeftAlt

## Keyboard shortcut to activate the 6. boss power.
# Setting type: KeyboardShortcut
# Default value: Alpha6 + LeftAlt
Shortcut for boss power 6 = Alpha6 + LeftAlt

## Keyboard shortcut to activate the 7. boss power.
# Setting type: KeyboardShortcut
# Default value: Alpha7 + LeftAlt
Shortcut for boss power 7 = Alpha7 + LeftAlt

[3 - Eikthyr]

## Powers of Eikthyr
# Setting type: String
# Default value: RunStamina:15:60,JumpStamina:15:60,SwimStaminaUsage:15:60
Effects = RunStamina:25:75,JumpStamina:25:75,SwimStaminaUsage:25:75

## Minimum required kills of Eikthyr to be able to use the passive power of the boss. Use 0 to allow everyone to use the passive power as soon as the trophy is hanging on the boss stone.
# Setting type: Int32
# Default value: 1
Min kills (Passive) = 1

## Minimum required kills of Eikthyr to be able to use the active power of the boss. Use -1 to disable the active power and only allow the passive power.
# Setting type: Int32
# Default value: -1
Min kills (Active) = 1

## Self: Only the player activating the boss power gets the buff.
## Conditions Met: Only the nearby players that have the required boss kills receive the buff.
## Everyone: Every nearby player gets the buff.
# Setting type: Spread
# Default value: Everyone
# Acceptable values: Self, ConditionsMet, Everyone
Activation spread = Everyone

[4 - The Elder]

## Powers of The Elder
# Setting type: String
# Default value: HealthRegen:10:30,TreeDamage:20:60,MiningDamage:20:60
Effects = HealthRegen:18:45,TreeDamage:35:80,MiningDamage:35:80

## Minimum required kills of The Elder to be able to use the passive power of the boss. Use 0 to allow everyone to use the passive power as soon as the trophy is hanging on the boss stone.
# Setting type: Int32
# Default value: 1
Min kills (Passive) = 1

## Minimum required kills of The Elder to be able to use the active power of the boss. Use -1 to disable the active power and only allow the passive power.
# Setting type: Int32
# Default value: -1
Min kills (Active) = 1

## Self: Only the player activating the boss power gets the buff.
## Conditions Met: Only the nearby players that have the required boss kills receive the buff.
## Everyone: Every nearby player gets the buff.
# Setting type: Spread
# Default value: Everyone
# Acceptable values: Self, ConditionsMet, Everyone
Activation spread = Everyone

[5 - Bonemass]

## Powers of Bonemass
# Setting type: String
# Default value: PhysicalDamage:10:25,BlockStaminaUsage:35:100,BlockStaminaReturn:2:5
Effects = PhysicalDamage:18:40,BlockStaminaUsage:50:100,BlockStaminaReturn:4:8

## Minimum required kills of Bonemass to be able to use the passive power of the boss. Use 0 to allow everyone to use the passive power as soon as the trophy is hanging on the boss stone.
# Setting type: Int32
# Default value: 1
Min kills (Passive) = 1

## Minimum required kills of Bonemass to be able to use the active power of the boss. Use -1 to disable the active power and only allow the passive power.
# Setting type: Int32
# Default value: -1
Min kills (Active) = 1

## Self: Only the player activating the boss power gets the buff.
## Conditions Met: Only the nearby players that have the required boss kills receive the buff.
## Everyone: Every nearby player gets the buff.
# Setting type: Spread
# Default value: Everyone
# Acceptable values: Self, ConditionsMet, Everyone
Activation spread = Everyone

[6 - Moder]

## Powers of Moder
# Setting type: String
# Default value: BonusFrostDefense:10:50,TailWind:20:100,WindModifier:35:200,CarryWeight:100:300,MovementSpeed:5:10
Effects = BonusFrostDefense:18:70,TailWind:35:100,WindModifier:50:200,CarryWeight:150:400,MovementSpeed:8:18

## Minimum required kills of Moder to be able to use the passive power of the boss. Use 0 to allow everyone to use the passive power as soon as the trophy is hanging on the boss stone.
# Setting type: Int32
# Default value: 1
Min kills (Passive) = 1

## Minimum required kills of Moder to be able to use the active power of the boss. Use -1 to disable the active power and only allow the passive power.
# Setting type: Int32
# Default value: -1
Min kills (Active) = 1

## Self: Only the player activating the boss power gets the buff.
## Conditions Met: Only the nearby players that have the required boss kills receive the buff.
## Everyone: Every nearby player gets the buff.
# Setting type: Spread
# Default value: Everyone
# Acceptable values: Self, ConditionsMet, Everyone
Activation spread = Everyone

[7 - Yagluth]

## Powers of Yagluth
# Setting type: String
# Default value: BonusLightningDefense:10:50,BonusDamage:5:10
Effects = BonusLightningDefense:18:70,BonusDamage:12:25

## Minimum required kills of Yagluth to be able to use the passive power of the boss. Use 0 to allow everyone to use the passive power as soon as the trophy is hanging on the boss stone.
# Setting type: Int32
# Default value: 1
Min kills (Passive) = 1

## Minimum required kills of Yagluth to be able to use the active power of the boss. Use -1 to disable the active power and only allow the passive power.
# Setting type: Int32
# Default value: -1
Min kills (Active) = 1

## Self: Only the player activating the boss power gets the buff.
## Conditions Met: Only the nearby players that have the required boss kills receive the buff.
## Everyone: Every nearby player gets the buff.
# Setting type: Spread
# Default value: Everyone
# Acceptable values: Self, ConditionsMet, Everyone
Activation spread = Everyone

[8 - Queen]

## Powers of Queen
# Setting type: String
# Default value: EitrRegen:35:100,BonusPoisonDefense:10:50,StaminaSneakUsage:50:100
Effects = EitrRegen:50:120,BonusPoisonDefense:18:70,StaminaSneakUsage:65:100

## Minimum required kills of Queen to be able to use the passive power of the boss. Use 0 to allow everyone to use the passive power as soon as the trophy is hanging on the boss stone.
# Setting type: Int32
# Default value: 1
Min kills (Passive) = 1

## Minimum required kills of Queen to be able to use the active power of the boss. Use -1 to disable the active power and only allow the passive power.
# Setting type: Int32
# Default value: -1
Min kills (Active) = 1

## Self: Only the player activating the boss power gets the buff.
## Conditions Met: Only the nearby players that have the required boss kills receive the buff.
## Everyone: Every nearby player gets the buff.
# Setting type: Spread
# Default value: Everyone
# Acceptable values: Self, ConditionsMet, Everyone
Activation spread = Everyone

[9 - Fader]

## Powers of Fader
# Setting type: String
# Default value: BonusFireDefense:10:50,AdrenalineBonus:35:100,StaggerResist:20:50
Effects = BonusFireDefense:18:70,AdrenalineBonus:50:120,StaggerResist:35:70

## Minimum required kills of Fader to be able to use the passive power of the boss. Use 0 to allow everyone to use the passive power as soon as the trophy is hanging on the boss stone.
# Setting type: Int32
# Default value: 1
Min kills (Passive) = 1

## Minimum required kills of Fader to be able to use the active power of the boss. Use -1 to disable the active power and only allow the passive power.
# Setting type: Int32
# Default value: -1
Min kills (Active) = 1

## Self: Only the player activating the boss power gets the buff.
## Conditions Met: Only the nearby players that have the required boss kills receive the buff.
## Everyone: Every nearby player gets the buff.
# Setting type: Spread
# Default value: Everyone
# Acceptable values: Self, ConditionsMet, Everyone
Activation spread = Everyone

