## Settings file was created by plugin Jam v2.0.0
## Plugin GUID: randyknapp.mods.jam

[Common]

## Enables verbose debug logging for the shared item/piece loaders.
# Setting type: Boolean
# Default value: false
EnableDebugMode = false

## Delay in seconds before a changed config entry is applied in-game. Coalesces a burst of rapid edits (typing, file reloads, server sync) into a single apply. Set to 0 to apply instantly.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 10
Config Apply Delay = 1

[Food - Blueberry Jam]

## Enable/Disable the crafting recipe for Blueberry Jam.
# Setting type: Boolean
# Default value: true
BlueberryJam-craftable = true

## Sets the required minimum crafting station level to craft Blueberry Jam
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 10
BlueberryJam-stationRequiredLevel = 1

## Sets the amount of Blueberry Jam crafted per recipe.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 50
BlueberryJam-craftAmount = 4

## Sets the crafting station for Blueberry Jam.
# Setting type: String
# Default value: piece_cauldron
BlueberryJam-craftedAt = piece_cauldron

## Value for food_health on Blueberry Jam
# Setting type: Single
# Default value: 14
# Acceptable value range: From 0 to 200
BlueberryJam-food_health = 14

## Value for food_stamina on Blueberry Jam
# Setting type: Single
# Default value: 35
# Acceptable value range: From 0 to 200
BlueberryJam-food_stamina = 35

## Value for food_eitr on Blueberry Jam
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 200
BlueberryJam-food_eitr = 0

## Value for food_regen on Blueberry Jam
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 20
BlueberryJam-food_regen = 1

## Value for food_duration on Blueberry Jam
# Setting type: Single
# Default value: 1200
# Acceptable value range: From 0 to 6000
BlueberryJam-food_duration = 1200

## Recipe for Blueberry Jam. Should be in the format of Prefab,Amount,AmountPerLevel|Prefab,Amount,AmountPerLevel eg: Wood,12,2|Stone,2,0
# Setting type: String
# Default value: Blueberries,14,0
BlueberryJam-recipe = Blueberries,14,0

[Food - Cloudberry Jam]

## Enable/Disable the crafting recipe for Cloudberry Jam.
# Setting type: Boolean
# Default value: true
CloudberryJam-craftable = true

## Sets the required minimum crafting station level to craft Cloudberry Jam
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 1 to 10
CloudberryJam-stationRequiredLevel = 3

## Sets the amount of Cloudberry Jam crafted per recipe.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 50
CloudberryJam-craftAmount = 4

## Sets the crafting station for Cloudberry Jam.
# Setting type: String
# Default value: piece_cauldron
CloudberryJam-craftedAt = piece_cauldron

## Value for food_health on Cloudberry Jam
# Setting type: Single
# Default value: 26
# Acceptable value range: From 0 to 200
CloudberryJam-food_health = 26

## Value for food_stamina on Cloudberry Jam
# Setting type: Single
# Default value: 45
# Acceptable value range: From 0 to 200
CloudberryJam-food_stamina = 45

## Value for food_eitr on Cloudberry Jam
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 200
CloudberryJam-food_eitr = 0

## Value for food_regen on Cloudberry Jam
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 20
CloudberryJam-food_regen = 1

## Value for food_duration on Cloudberry Jam
# Setting type: Single
# Default value: 1200
# Acceptable value range: From 0 to 6000
CloudberryJam-food_duration = 1200

## Recipe for Cloudberry Jam. Should be in the format of Prefab,Amount,AmountPerLevel|Prefab,Amount,AmountPerLevel eg: Wood,12,2|Stone,2,0
# Setting type: String
# Default value: Cloudberry,14,0
CloudberryJam-recipe = Cloudberry,14,0

[Food - Kings Jam]

## Enable/Disable the crafting recipe for Kings Jam.
# Setting type: Boolean
# Default value: true
KingsJam-craftable = true

## Sets the required minimum crafting station level to craft Kings Jam
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 1 to 10
KingsJam-stationRequiredLevel = 3

## Sets the amount of Kings Jam crafted per recipe.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 50
KingsJam-craftAmount = 4

## Sets the crafting station for Kings Jam.
# Setting type: String
# Default value: piece_cauldron
KingsJam-craftedAt = piece_cauldron

## Value for food_health on Kings Jam
# Setting type: Single
# Default value: 26
# Acceptable value range: From 0 to 200
KingsJam-food_health = 26

## Value for food_stamina on Kings Jam
# Setting type: Single
# Default value: 50
# Acceptable value range: From 0 to 200
KingsJam-food_stamina = 50

## Value for food_eitr on Kings Jam
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 200
KingsJam-food_eitr = 0

## Value for food_regen on Kings Jam
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0 to 20
KingsJam-food_regen = 2

## Value for food_duration on Kings Jam
# Setting type: Single
# Default value: 1200
# Acceptable value range: From 0 to 6000
KingsJam-food_duration = 1200

## Recipe for Kings Jam. Should be in the format of Prefab,Amount,AmountPerLevel|Prefab,Amount,AmountPerLevel eg: Wood,12,2|Stone,2,0
# Setting type: String
# Default value: Raspberry,8,0|Cloudberry,6,0
KingsJam-recipe = Raspberry,8,0|Cloudberry,6,0

[Food - Nordic Jam]

## Enable/Disable the crafting recipe for Nordic Jam.
# Setting type: Boolean
# Default value: true
NordicJam-craftable = true

## Sets the required minimum crafting station level to craft Nordic Jam
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 1 to 10
NordicJam-stationRequiredLevel = 3

## Sets the amount of Nordic Jam crafted per recipe.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 50
NordicJam-craftAmount = 4

## Sets the crafting station for Nordic Jam.
# Setting type: String
# Default value: piece_cauldron
NordicJam-craftedAt = piece_cauldron

## Value for food_health on Nordic Jam
# Setting type: Single
# Default value: 26
# Acceptable value range: From 0 to 200
NordicJam-food_health = 26

## Value for food_stamina on Nordic Jam
# Setting type: Single
# Default value: 55
# Acceptable value range: From 0 to 200
NordicJam-food_stamina = 55

## Value for food_eitr on Nordic Jam
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 200
NordicJam-food_eitr = 0

## Value for food_regen on Nordic Jam
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0 to 20
NordicJam-food_regen = 2

## Value for food_duration on Nordic Jam
# Setting type: Single
# Default value: 1200
# Acceptable value range: From 0 to 6000
NordicJam-food_duration = 1200

## Recipe for Nordic Jam. Should be in the format of Prefab,Amount,AmountPerLevel|Prefab,Amount,AmountPerLevel eg: Wood,12,2|Stone,2,0
# Setting type: String
# Default value: Blueberries,8,0|Cloudberry,6,0
NordicJam-recipe = Blueberries,8,0|Cloudberry,6,0

[Food - Raspberry Jam]

## Enable/Disable the crafting recipe for Raspberry Jam.
# Setting type: Boolean
# Default value: true
RaspberryJam-craftable = true

## Sets the required minimum crafting station level to craft Raspberry Jam
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 10
RaspberryJam-stationRequiredLevel = 1

## Sets the amount of Raspberry Jam crafted per recipe.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 50
RaspberryJam-craftAmount = 4

## Sets the crafting station for Raspberry Jam.
# Setting type: String
# Default value: piece_cauldron
RaspberryJam-craftedAt = piece_cauldron

## Value for food_health on Raspberry Jam
# Setting type: Single
# Default value: 14
# Acceptable value range: From 0 to 200
RaspberryJam-food_health = 14

## Value for food_stamina on Raspberry Jam
# Setting type: Single
# Default value: 30
# Acceptable value range: From 0 to 200
RaspberryJam-food_stamina = 30

## Value for food_eitr on Raspberry Jam
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 200
RaspberryJam-food_eitr = 0

## Value for food_regen on Raspberry Jam
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 20
RaspberryJam-food_regen = 1

## Value for food_duration on Raspberry Jam
# Setting type: Single
# Default value: 1200
# Acceptable value range: From 0 to 6000
RaspberryJam-food_duration = 1200

## Recipe for Raspberry Jam. Should be in the format of Prefab,Amount,AmountPerLevel|Prefab,Amount,AmountPerLevel eg: Wood,12,2|Stone,2,0
# Setting type: String
# Default value: Raspberry,14,0
RaspberryJam-recipe = Raspberry,14,0

[Food - Rich Eitrian Jam]

## Enable/Disable the crafting recipe for Rich Eitrian Jam.
# Setting type: Boolean
# Default value: true
RichEitrianJam-craftable = true

## Sets the required minimum crafting station level to craft Rich Eitrian Jam
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 1 to 10
RichEitrianJam-stationRequiredLevel = 5

## Sets the amount of Rich Eitrian Jam crafted per recipe.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 50
RichEitrianJam-craftAmount = 4

## Sets the crafting station for Rich Eitrian Jam.
# Setting type: String
# Default value: piece_cauldron
RichEitrianJam-craftedAt = piece_cauldron

## Value for food_health on Rich Eitrian Jam
# Setting type: Single
# Default value: 40
# Acceptable value range: From 0 to 200
RichEitrianJam-food_health = 40

## Value for food_stamina on Rich Eitrian Jam
# Setting type: Single
# Default value: 60
# Acceptable value range: From 0 to 200
RichEitrianJam-food_stamina = 60

## Value for food_eitr on Rich Eitrian Jam
# Setting type: Single
# Default value: 35
# Acceptable value range: From 0 to 200
RichEitrianJam-food_eitr = 35

## Value for food_regen on Rich Eitrian Jam
# Setting type: Single
# Default value: 4
# Acceptable value range: From 0 to 20
RichEitrianJam-food_regen = 4

## Value for food_duration on Rich Eitrian Jam
# Setting type: Single
# Default value: 1500
# Acceptable value range: From 0 to 6000
RichEitrianJam-food_duration = 1500

## Recipe for Rich Eitrian Jam. Should be in the format of Prefab,Amount,AmountPerLevel|Prefab,Amount,AmountPerLevel eg: Wood,12,2|Stone,2,0
# Setting type: String
# Default value: Vineberry,4,0|MushroomSmokePuff,4,0|Onion,2,0|Honey,2,0
RichEitrianJam-recipe = Vineberry,4,0|MushroomSmokePuff,4,0|Onion,2,0|Honey,2,0

[Food - Savory Eitrian Jam]

## Enable/Disable the crafting recipe for Savory Eitrian Jam.
# Setting type: Boolean
# Default value: true
SavoryEitrianJam-craftable = true

## Sets the required minimum crafting station level to craft Savory Eitrian Jam
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 10
SavoryEitrianJam-stationRequiredLevel = 4

## Sets the amount of Savory Eitrian Jam crafted per recipe.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 50
SavoryEitrianJam-craftAmount = 4

## Sets the crafting station for Savory Eitrian Jam.
# Setting type: String
# Default value: piece_cauldron
SavoryEitrianJam-craftedAt = piece_cauldron

## Value for food_health on Savory Eitrian Jam
# Setting type: Single
# Default value: 35
# Acceptable value range: From 0 to 200
SavoryEitrianJam-food_health = 35

## Value for food_stamina on Savory Eitrian Jam
# Setting type: Single
# Default value: 55
# Acceptable value range: From 0 to 200
SavoryEitrianJam-food_stamina = 55

## Value for food_eitr on Savory Eitrian Jam
# Setting type: Single
# Default value: 30
# Acceptable value range: From 0 to 200
SavoryEitrianJam-food_eitr = 30

## Value for food_regen on Savory Eitrian Jam
# Setting type: Single
# Default value: 3
# Acceptable value range: From 0 to 20
SavoryEitrianJam-food_regen = 3

## Value for food_duration on Savory Eitrian Jam
# Setting type: Single
# Default value: 1500
# Acceptable value range: From 0 to 6000
SavoryEitrianJam-food_duration = 1500

## Recipe for Savory Eitrian Jam. Should be in the format of Prefab,Amount,AmountPerLevel|Prefab,Amount,AmountPerLevel eg: Wood,12,2|Stone,2,0
# Setting type: String
# Default value: MushroomMagecap,4,0|MushroomJotunPuffs,4,0|Onion,2,0|Honey,2,0
SavoryEitrianJam-recipe = MushroomMagecap,4,0|MushroomJotunPuffs,4,0|Onion,2,0|Honey,2,0

[Food - Sweetened Blueberry Jam]

## Enable/Disable the crafting recipe for Sweetened Blueberry Jam.
# Setting type: Boolean
# Default value: true
SweetenedBlueberryJam-craftable = true

## Sets the required minimum crafting station level to craft Sweetened Blueberry Jam
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 10
SweetenedBlueberryJam-stationRequiredLevel = 1

## Sets the amount of Sweetened Blueberry Jam crafted per recipe.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 50
SweetenedBlueberryJam-craftAmount = 4

## Sets the crafting station for Sweetened Blueberry Jam.
# Setting type: String
# Default value: piece_cauldron
SweetenedBlueberryJam-craftedAt = piece_cauldron

## Value for food_health on Sweetened Blueberry Jam
# Setting type: Single
# Default value: 18
# Acceptable value range: From 0 to 200
SweetenedBlueberryJam-food_health = 18

## Value for food_stamina on Sweetened Blueberry Jam
# Setting type: Single
# Default value: 40
# Acceptable value range: From 0 to 200
SweetenedBlueberryJam-food_stamina = 40

## Value for food_eitr on Sweetened Blueberry Jam
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 200
SweetenedBlueberryJam-food_eitr = 0

## Value for food_regen on Sweetened Blueberry Jam
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0 to 20
SweetenedBlueberryJam-food_regen = 2

## Value for food_duration on Sweetened Blueberry Jam
# Setting type: Single
# Default value: 1200
# Acceptable value range: From 0 to 6000
SweetenedBlueberryJam-food_duration = 1200

## Recipe for Sweetened Blueberry Jam. Should be in the format of Prefab,Amount,AmountPerLevel|Prefab,Amount,AmountPerLevel eg: Wood,12,2|Stone,2,0
# Setting type: String
# Default value: Blueberries,8,0|Honey,4,0
SweetenedBlueberryJam-recipe = Blueberries,8,0|Honey,4,0

[Food - Sweetened Cloudberry Jam]

## Enable/Disable the crafting recipe for Sweetened Cloudberry Jam.
# Setting type: Boolean
# Default value: true
SweetenedCloudberryJam-craftable = true

## Sets the required minimum crafting station level to craft Sweetened Cloudberry Jam
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 1 to 10
SweetenedCloudberryJam-stationRequiredLevel = 3

## Sets the amount of Sweetened Cloudberry Jam crafted per recipe.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 50
SweetenedCloudberryJam-craftAmount = 4

## Sets the crafting station for Sweetened Cloudberry Jam.
# Setting type: String
# Default value: piece_cauldron
SweetenedCloudberryJam-craftedAt = piece_cauldron

## Value for food_health on Sweetened Cloudberry Jam
# Setting type: Single
# Default value: 30
# Acceptable value range: From 0 to 200
SweetenedCloudberryJam-food_health = 30

## Value for food_stamina on Sweetened Cloudberry Jam
# Setting type: Single
# Default value: 50
# Acceptable value range: From 0 to 200
SweetenedCloudberryJam-food_stamina = 50

## Value for food_eitr on Sweetened Cloudberry Jam
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 200
SweetenedCloudberryJam-food_eitr = 0

## Value for food_regen on Sweetened Cloudberry Jam
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0 to 20
SweetenedCloudberryJam-food_regen = 2

## Value for food_duration on Sweetened Cloudberry Jam
# Setting type: Single
# Default value: 1200
# Acceptable value range: From 0 to 6000
SweetenedCloudberryJam-food_duration = 1200

## Recipe for Sweetened Cloudberry Jam. Should be in the format of Prefab,Amount,AmountPerLevel|Prefab,Amount,AmountPerLevel eg: Wood,12,2|Stone,2,0
# Setting type: String
# Default value: Cloudberry,8,0|Honey,4,0
SweetenedCloudberryJam-recipe = Cloudberry,8,0|Honey,4,0

[Food - Sweetened Raspberry Jam]

## Enable/Disable the crafting recipe for Sweetened Raspberry Jam.
# Setting type: Boolean
# Default value: true
SweetenedRaspberryJam-craftable = true

## Sets the required minimum crafting station level to craft Sweetened Raspberry Jam
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 10
SweetenedRaspberryJam-stationRequiredLevel = 1

## Sets the amount of Sweetened Raspberry Jam crafted per recipe.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 50
SweetenedRaspberryJam-craftAmount = 4

## Sets the crafting station for Sweetened Raspberry Jam.
# Setting type: String
# Default value: piece_cauldron
SweetenedRaspberryJam-craftedAt = piece_cauldron

## Value for food_health on Sweetened Raspberry Jam
# Setting type: Single
# Default value: 18
# Acceptable value range: From 0 to 200
SweetenedRaspberryJam-food_health = 18

## Value for food_stamina on Sweetened Raspberry Jam
# Setting type: Single
# Default value: 35
# Acceptable value range: From 0 to 200
SweetenedRaspberryJam-food_stamina = 35

## Value for food_eitr on Sweetened Raspberry Jam
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 200
SweetenedRaspberryJam-food_eitr = 0

## Value for food_regen on Sweetened Raspberry Jam
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0 to 20
SweetenedRaspberryJam-food_regen = 2

## Value for food_duration on Sweetened Raspberry Jam
# Setting type: Single
# Default value: 1200
# Acceptable value range: From 0 to 6000
SweetenedRaspberryJam-food_duration = 1200

## Recipe for Sweetened Raspberry Jam. Should be in the format of Prefab,Amount,AmountPerLevel|Prefab,Amount,AmountPerLevel eg: Wood,12,2|Stone,2,0
# Setting type: String
# Default value: Raspberry,8,0|Honey,4,0
SweetenedRaspberryJam-recipe = Raspberry,8,0|Honey,4,0

